.panel-primary {
    border-color:#eb6864;
}
.panel-primary{.panel-heading {
	background-color:#eb6864;
	border-color:#eb6864;
	color:#ffffff;
}}

.panel-info {
    border-color:#336699;
}
.panel-info{.panel-heading {
	background-color:#336699;
	border-color:#336699;
	color:#ffffff;
}}

.panel-warning {
    border-color:#f6e62c;
}
.panel-warning{.panel-heading {
	background-color:#f6e62c;
	border-color:#f6e62c;
	color:#ffffff;
}}

.panel-success {
    border-color:#21b24c;
}
.panel-success{.panel-heading {
	background-color:#21b24c;
	border-color:#21b24c;
	color:#ffffff;
}}

 .panel-danger {
    border-color:#f57a14;
}
.panel-danger{.panel-heading {
	background-color:#f57a14;
	border-color:#f57a14;
	color:#ffffff;
}}
