$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$brand-primary:         #eb6864 !default;
$brand-success:         #21b24c !default;
$brand-info:            #336699 !default;
$brand-warning:         #f6e62c !default;
$brand-danger:          #f57a14 !default;

//== Panels
//
//##
$panel-primary-text:          #fff !default;
$panel-primary-border:        $brand-primary !default;
$panel-primary-heading-bg:    $brand-primary !default;

$panel-success-text:          #fff !default;
$panel-success-border:        $brand-success !default;
$panel-success-heading-bg:    $brand-success !default;

$panel-info-text:             #fff !default;
$panel-info-border:           $brand-info !default;
$panel-info-heading-bg:       $brand-info !default;

$panel-warning-text:          #fff !default;
$panel-warning-border:        $brand-warning !default;
$panel-warning-heading-bg:    $brand-warning !default;

$panel-danger-text:           #fff !default;
$panel-danger-border:         $brand-danger !default;
$panel-danger-heading-bg:     $brand-danger !default;


